.popup__container {
    max-width: auto;
    display: flex;
    flex-direction: column;
    z-index: 3;
    opacity: 1;
    max-width: 430px;
}

@media screen and (max-width: 650px) {
    .popup__container {
        max-width: 282px;
    }
}