.profile {
    max-width: 880px;
    margin: 40px auto 50px auto;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
}

.profile__avatar {
    max-width: 120px;
    min-height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

.profile__info {
    margin: auto 244px auto 30px;
    display: grid;
    grid-template-rows: repeat(2, auto);
    grid-template-columns: repeat(2, auto);
    outline: 1px solid yellow;
    column-gap: 18px;
    row-gap: 16px;
}

.profile__title {
    margin: 0;
    padding: 0;
    max-width: 294px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: calc(27px + (42 - 27) * ((100vw - 320px) / (1280 - 320)));
    line-height: 114%;
    outline: 1px solid yellow;
    grid-row: 1;
    grid-column: 1;
}

.profile__subtitle {
    margin: 0;
    padding: 0;
    max-width: 294px;
    font-style: normal;
    font-weight: 400;
    font-size: calc(14px + (16 - 14) * ((100vw - 320px) / (1280 - 320)));
    line-height: 22px;
    color: #FFFFFF;
    outline: 1px solid yellow;
    grid-row: 2;
    grid-column: 1;
}

.profile__button {

}

.profile__button-image_edit {
    object-fit: cover;
}

.profile__button_edit {
    display: inline-block;
    padding: 0 7px 0 7px;
    box-sizing: border-box;
    max-width: 24px;
    min-height: 24px;
    grid-column: 2;
    grid-row: 1;
    background-color: #000000;
    text-decoration: none;
    outline: 1px solid #FFFFFF;
    align-self: center;
    border: none;
    cursor: pointer;
}

.profile__button-image_add {
    object-fit: cover;
    box-sizing: border-box;
}

.profile__button_add {
    width: 100%;
    max-width: 150px;
    min-height: 50px;
    display: inline-block;
    padding: 0;
    align-self: center;
    box-sizing: border-box;
    background-color: #000000;
    text-decoration: none;
    border: none;
    border: 2px solid #FFFFFF;
    border-radius: 2px;
    pointer-events: auto;
    cursor: pointer;
}