.profile__title {
    margin: 0;
    padding: 0;
    max-width: 294px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 114%;
    grid-row: 1;
    grid-column: 1;
}

@media screen and (max-width: 1279px) {
    .profile__title {
        font-size: calc(27px + (42 - 27) * ((100vw - 320px) / (1280 - 320)));
    }
}

@media screen and (max-width: 650px) {
    .profile__title {
        max-width: 189px;
        font-size: 27px;
        line-height: 33px;
        text-align: center;
    }
}