.profile__avatar {
    width: 120px;
    height: 120px;
    object-fit: cover;
    border-radius: 50%;
}

@media screen and (max-width: 900px) {
    .profile__avatar {
        margin-left: 20px;
    }
}

@media screen and (max-width: 650px) {
    .profile__avatar {
        margin: 0 auto 26px auto;
    }
}

@media screen and (max-width: 320px) {
    .profile__avatar {
        margin: 0 99px 26px 101px;
    }
}